<!--begin: header-->
<div class="card-header border0 pt-5">
    <h3 class="card-title align-items-start flex-column"></h3>
    <div class="card-toolbar">
        <app-record-model></app-record-model>
    </div>
</div>
<!--end: header-->
<!--begin: body-->
<div class="card-body py-3">
    <!--begin::Table container-->
    <div class="table-responsive">
        <!--begin::Table-->
        <table class="table align-middle gs-0 gy-4">
            <!--begin::Table head-->
            <thead>
                <tr class="fw-bolder text-muted bg-light">
                    <th class="px-4 rounded-start min-w-20px">N.-</th>
                    <th class="min-w-100px ">Codigo</th>
                    <th class="min-w-225px">Nombre Facultad</th>
                    <th class="min-w-100px">Nombre Decano</th>
                    <th class="min-w-225px text-start rounded-end px-4">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let faculty of faculties">
                    <td>
                        
                    </td>
                    <td>
                        <a
                            href="#"
                            class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"
                        >
                            {{faculty.code}}
                        </a>
                    </td>
                    <td>
                        <a
                            href="#"
                            class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"
                        >
                            {{faculty.nameFaculty}}
                        </a>
                    </td>
                    <td>
                        <a
                            href="#"
                            class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"
                        >
                            {{faculty.deanName}}
                        </a>
                    </td>
                    <td class="text-start">
                        
                        <a
                            href="#"
                            class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
                        >
                            <span
                                [inlineSVG]="'./assets/media/icons/duotune/general/gen019.svg'"
                                class="svg-icon svg-icon-3"
                            ></span>
                        </a>

                        <a
                        href="#"
                        class="btn btn-icon btn-bg-light btn-color-danger btn-sm"
                        >
                        <span
                            [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'"
                            class="svg-icon svg-icon-3"
                        ></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!--end: body-->