<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title text-dark fw-bolder">FACULTAD</h4>
        <button
            type="button"
            class="btn btn-icon btn-sm btn-active-light-primary "
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
        >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h3 class="text-center fw-bolder text-primary text-muted">
            FORMULARIO PARA FACULTAD
        </h3>
        <!--begin::Form-->
        <form class="form" [formGroup]="facultyForm">
            <div class="card-body ">
                <div class="form-group">
                    <label class="fw-bolder"> Codigo</label>
                    <input
                        type="number"
                        class="form-control form-control-solid"
                        placeholder="Codigo"
                        formControlName="code"
                    />
                <br>
                </div>
                <div class="form-group">
                    <label class="fw-bolder">Nombre Facultad</label>
                        <input
                            type="text"
                            class="form-control form-control-solid"
                            placeholder="Facultad"
                            formControlName="nameFaculty"
                        />
                <br>
                </div>
                <div class="form-group">
                    <label class="fw-bolder">Nombre Decano</label>
                        <input
                            type="text"
                            class="form-control form-control-solid"
                            placeholder="Nombre"
                            formControlName="deanName"
                        />
                <br>
                </div>
                <div class="form-group">
                    <label class="fw-bolder">Direccion</label>
                        <input
                            type="text"
                            class="form-control form-control-solid"
                            placeholder="Direccion"
                            formControlName="address"
                        />
                <br>
                </div>
                <div class="form-group">
                    <label class="fw-bolder">Telefono</label>
                        <input
                            type="text"
                            class="form-control form-control-solid"
                            placeholder="Telefono"
                            formControlName="telephone"
                        />
                <br>
                </div>
                <div class="form-group">
                    <label class="fw-bolder">Correo Electronico</label>
                        <input
                            type="text"
                            class="form-control form-control-solid"
                            placeholder="e-mail"
                            formControlName="email"
                        />
                <br>
                </div>
                <div class="form-group">
                    <label for="exampleTextarea" class="text-dark fw-bolder">Mision</label>
                        <textarea
                            class="form-control form-control-solid"
                            rows="4"
                            formControlName="mission"
                        >
                        </textarea>
                <br>
                </div>
                <div class="form-group">
                    <label for="exampleTextarea" class="text-dark fw-bolder">Vision</label>
                        <textarea
                            class="form-control form-control-solid"
                            rows="4"
                            formControlName="vision"
                        >
                        </textarea>
                <br>
                </div>
            </div>
        </form>
        <!--end::Form-->
    </div>
    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-light"
            (click)="closeLg()"
            >
            Cerrar
            </button>
            <button
            type="button"
            class="btn btn-primary"
            (click)="saveFaculty()"
            >
            Guardar 
        </button>
    </div>
</ng-template>

<button class="btn btn-sm btn-light-primary" (click)="openLg(content)">
    <span
        [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'"
        class="svg-icon svg-icon-3"
    >
    </span>
    Crear Facultad
</button>
